@charset "utf-8";
/* CSS Document */
* {
	margin : 0px;
	padding: 0px;
	font-size: 12px;
}
.top {
	width: 100%;
	height: 30px;
	background-image: url(../images/30px.jpg);
	float: left;
	position: fixed;
	top: 0px;
}
.top_content {
	padding-left:40%;
	text-align: center;
	width:auto;
	margin: 0 auto;
	background-image: url(../images/30px.jpg);
}

.top_content li {
	color: #FFFFFF;
	float: left;
	width: 50px;
	line-height: auto;
	font-size: 12px;
	font-weight: bold;
	font-family: aguafina-script;
	display: block;
	background-image: url(../images/30px.jpg);
}
.top_content li img {
	vertical-align: middle;
}
.head_back {
	background: #232526;
	background: -webkit-linear-gradient(to left, #232526, #414345);
	background: linear-gradient(to left, #232526, #414345);
}
.head_content {
	height: 100px;
	background: #232526;
	background: -webkit-linear-gradient(to left, #232526, #414345);
	background: linear-gradient(to left, #232526, #414345);
}
h1 {
	font-size: 50px;
	color: #FFFFFF;
	font-family: eb-garamond;
}
h2 {
	font-size: 20px;
	color: #FFFFFF;
}
